@import url('https://fonts.googleapis.com/css2?family=Assistant&display=swap');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #121212;
	font: 1.1rem 'Assistant', sans-serif;
	color: #F5F5F5;
	line-height: 1.7;
	letter-spacing: .055rem;
	padding: 4rem 0 2rem;
	flex-wrap: wrap;
}

h1 {
	font-size: 33px;
	font-weight: 700;
	font-family: 'Assistant', sans-serif;
	text-shadow: 2px 2px 1px #000;
}

.main {
	display: grid;
	float: left;
}

hr {
	border: 0;
	height: 50px;
}

section,
.container {
	padding: 2rem;
	margin-left: auto;
	margin-right: auto;
	margin-top: .2rem;
	margin-bottom: .2rem;
	width: min(90%, 70.5rem);
}

.split {
	display: flex;
	flex-direction: column;
}

p {
	font-size: 18px;
	font-weight: 300;
	color: #ccc; /* Light grey color for paragraph text */
}

img {
	width: 100%; /* Responsive image sizing */
	max-width: 300px; /* Maximum width to prevent overly large images */
	margin: 20px 0; /* Space around images */
	opacity: 67%;
	margin-bottom: .2rem;
	float: right;
	border: 5px solid #8A9A5B; /* Darker outer border */
}

a {
	color: #FFF;
	text-decoration: underline; /* No underline */
}

a:hover {
	color: #ff4545; /* Highlight color on hover */
}

/* Responsive Adjustments */
@media only screen and (max-width: 375px) {
	body, section, img {
		width: 60%;
	}
}

@media only screen and (min-width: 376px) and (max-width: 767px) {
	body, section, img {
		padding: 0.5rem;
	}
}

@media only screen and (min-width: 768px) {
	.split {
		flex-direction: row;
	}

	.split > *, .split > * + * {
		flex-basis: 50%; /* Adjust to ensure split layout */
		margin-left: 0.5em;
	}
}

@media (min-width: 576px) {
    body {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    body {
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 16px;
    }
}

@media (min-width: 1200px) {
    body {
        font-size: 18px;
    }
