/* style.css */

body {
	background-color: #DEDEDE;
	font-family: Assistant;
	justify-content: left;
	margin-left: 50px;
	margin-right; 50px;
	margin-top: 50px;
	margin-bottom: 50px;

}

div {
	margin-bottom: 120px;
}

h1 {
	font-size: 33px;
	padding-bottom; 150px;
}

p{
	font-size: 18px;
	font-color: #373737;
}