/* style.css */

*,
*::before,
*;;after {
	box-sizing: border-box;
}

body {
	background-color: #DEDEDE;
	font: 1.3rem 'Assistant', sans-serif;
	line-height: 1.7;
	color: #373737;
}

main {
	display: grid;
	float: left;
}

section {
	padding: 2rem;
}

.container {
	margin: auto;
	width: min(90%, 70.5rem);
}

.split {
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 33px;
	font-weight: 550;
}

p {
	font-size: 17px;
	font-weight: 300;
	font-color: #373737;
}

img {
	float: right;
	width: 350px;
}

a:link {
  color: #373737;
}

a:visited {
  color: #373737;
}

a:hover {
  color: #373737;
}

a:active {
  color: #373737;
}


/* Extra small devices (phones, 375px and down) */
@media only screen and (max-width: 375px) {
	
	body {
	    max-height: 95vh;
	    max-width: 100vw;
	}
	
	section {
		flex-direction: row; max-width:100%;
	}
	
	img {
		float: left;
	}
}


/* Small devices (portrait tablets and large phones, 376px and up) */
@media only screen and (min-width: 376px) {
	
	
	body {
		max-height: 95vh;
		max-width: 100vw;
	}
	
	section {
		flex-direction: row; 
		max-width: 100%;
		padding: 0.5rem;
	}
	
	img {
		float: left;
		width: 60%;
	}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {	

	.split {
		flex-direction: row;
	}
	
	.split > * {
		flex-basis: 100%;
	}

	.split > * + * {
		margin-left: 0.5em;
	}

	img {
		float: right;
	}
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

