/* style.css */

*,
*::before,
*;;after {
	box-sizing: border-box;
}

body {
	background-color: #DEDEDE;
	font: 1.3rem 'Assistant', sans-serif;
	line-height: 1.7;
	color: #373737;
}

main {
	display: grid;
	float: left;
}

section {
	padding: 2rem;
}

.container {
	margin-inline: auto;
	width: min(90%, 70.5rem);
}

.split {
	display: flex;
	flex-direction: column;
}

h1 {
	font-size: 33px;
	font-weight: 550;
}

p {
	font-size: 17px;
	font-weight: 300;
	font-color: #373737;
}

img {
	float: right;
}

a:link {
  color: #373737;
}

a:visited {
  color: #373737;
}

a:hover {
  color: #373737;
}

a:active {
  color: #373737;
}

@media screen and (min-width: 40em) {
	.split {
		flex-direction: row;
	}
	
	.split > * {
		flex-basis: 100%;
	}

	.split > * + * {
		margin-left: 1em;
	}
}

